#activity(data-role="page")
  #activity_header(data-role="header")
    %h1 活动
      %a(onclick="click_create_activity_in_activity_list_page()" class="ui-btn-right" ) 创建活动
  #content
    %ul#activity_list(data-role="listview")
